:host {
  display: contents;

  #phone-screen {
    margin-top: 10px;
    border: 12px solid black;
    border-radius: 10px;
  }

  .action-button {
    height: 100%;
    width: 100%;
  }

  .activeBox {
    border: 4px solid greenyellow;
  }
}
