$primary-orange: #FFAC41;
$secondary-green: #16C79A;
$default-color: #0F1217;
$light-gray: #A9A9AB;
$background: #141417;
$gray: #707070;
$gray-2: #676767;
$gray-3: #353C46;
$gray-4: #3B3B3B;
$dark-gray: #25262C;
$light: #EEEEEE;
$dark: #141417;
$danger: #a40013;
$text-color: #A9A9AB;
$text-color-2: #969696;
$button-red: #FF2D55;
$green: #5af7dc;

$primary: rgb(10, 10, 97);
$bb-dark: rgb(0, 0, 64) ;
$bb-table-border-color: #1f2128;

$muted: #848e9c;

$text-color: #eaecef;
$text-muted-color: #848e9c;

$background-color: #141417;
$card-bg-color: #17181e;
$component-bg-color: #292d34;

$primary-color: #ffac41;
$secondary-color: #16c79a;
