<div #inputContainer class="password-input-container align-items-center justify-content-between">
  <div class="d-flex align-items-center trade-input-left w-100">
    <div class="trade-input-left-input w-100">
      <input [type]="type" autocapitalize="off" autocomplete="off"
             [value]="value"
             (focusin)="inputContainer.classList.add('active')"
             (focusout)="loseFocus()"
             [placeholder]="placeholder"
             (input)="onValueChange($event)">
      <!--(change)="onValueChange($event)">-->
    </div>
    <ng-container *ngIf="canClear() && inputContainer.classList.contains('active')">
      <i (click)="clear()" class="clear-icon text-white fa fa-times-circle mx-1"></i>
    </ng-container>
    <i (click)="toggleVisibility()" class="toggle-icon text-white-50 fa mx-3" [ngClass]="{'fa-eye': type === 'text', 'fa-eye-slash': type === 'password'}"></i>
  </div>
</div>
